<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
  <div id="http-ping-time" style="height: 300px; width: 100%;"></div>
  <div id="cpu-temp" style="height: 300px; width: 100%;"></div>
  <div id="connected-clients" style="height: 300px; width: 100%;"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js

"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="/static/canvasjs.min.js"></script>
  <script type="text/javascript" src="http://get.influxdb.org/influxdb-latest.js"></script>

  <script src="//cdn.sockjs.org/sockjs-0.3.min.js"></script>
  <script>
    var influxdb = new InfluxDB({
        host: "{{ db['host'] }}",
        port: "{{ db['port'] }}",
        username: "{{ db['user'] }}",
        password: "{{ db['password'] }}",
        database: "{{ db['name'] }}"
    });
    var series = {
      http_ping_time: {
        query: 'SELECT * FROM http_ping_time limit 500',
        chartOptions: {
          title: "HTTP Repsonse Times",
          container: 'http-ping-time'
        }
      },
      connected_clients: {
        query: 'SELECT * FROM connected_clients limit 500',
        chartOptions: {
          title: "Connected clients",
          container: 'connected-clients'
        }
      },
      cpu_temp: {
        query: 'SELECT * FROM cpu_temp limit 500',
        chartOptions: {
          title: "CPU Temperature",
          container: 'cpu-temp'
        }
      }
    };
    // Initial data fetch and render
    _.each(series, function (srs, name) {
      influxdb.query(srs.query, function (data) {
        srs.chart = graph(data, srs.chartOptions);
        srs.chart.render();
      })
    });

    function parseData (payload) {
        var obj = payload[0];
        return {
            name: obj.name,
            point: _.object(_.zip(obj.columns, obj.points[0]))
        }
    }
    var retries = 0;
    function connect () {
        var conn = new SockJS('http://' + window.location.host + '/live-feed');
        retries += 1;
        console.log('Connecting...');

        conn.onopen = function() {
          console.log('Connected.');
          retries = 0;
        };

        conn.onmessage = function(e) {
          var data = parseData(e.data);
          if (series[data.name]) {
            var graphPoints = series[data.name].chart.options.data;
            for (var i=0; i<graphPoints.length; i++) {
              if (!_.isUndefined(data.point[graphPoints[i].name])) {
                graphPoints[i].dataPoints.push({
                  x: new Date(data.point.time),
                  y: data.point[graphPoints[i].name]
                });
              }
              graphPoints[i].dataPoints.shift();
            }
            series[data.name].chart.render();
          }
        };

        conn.onclose = function() {
          console.log('Disconnected.');
          setTimeout(connect, retries * retries * 100)
        };
    }
    var reconnect = _.throttle(connect, 500);
    connect();

    function graph (data, options) {
      data.reverse();
      var keys = _.without(_.keys(data[0]), 'time', 'sequence_number')
      graphPoints = _.map(keys, function (key) {
        return {name: key, showInLegend: true, legendText: key, type: "line", dataPoints: [] };
      });
      for (var i = 0; i < data.length; i++) {
        for (var j = 0; j < keys.length; j++) {
          var key = keys[j];
          if (!_.isUndefined(data[i][key])) {
            graphPoints[j].dataPoints.push({x: data[i].time, y: data[i][key]});
          }
        }
      }
      var chart = new CanvasJS.Chart(options.container,
      {
        title:{
          text: options.title
        },
        data: graphPoints
      });
      return chart;
    }
</script>
</body>
</html>
